:root {
    padding: 40px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-1: black;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vw;
    padding: 0em;
    margin: 0em;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
}

a {
    text-align: right;
}

.app {
    max-width: 1080px;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    margin-bottom: 60px;
}

.main {
    display: grid;
    gap: 40px;
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .main {
        grid-template-columns:repeat(1,1fr);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main {
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main {
        grid-template-columns:repeat(3,1fr);
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .main {
        grid-template-columns:repeat(3,1fr);
    }
}



.section {

}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: rgb(43, 90, 4);
    list-style-type: none;
    border-bottom: 0.5px solid rgb(43, 90, 4);
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

li.link {
    display: flex;
    justify-content: space-between;
}

.intro {

}

.past {

}

.present {

}

.projects {

}